.pokemon-details {
    display: flex;
    flex-direction: row;
}

.pokemon-details-info {
    flex: 1;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.pokemon-details-map {
    flex: 3;
}