.pokemon-revert-button {
    padding: 5px;
}

.pokemon-details {
    padding: 10px;
}

.pokemon-details-and-map {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.pokemon-details-info {
    flex: 1;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.pokemon-details-map {
    flex: 3;
    padding: 10px;
}